{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
	{% trans 'Confirm Password Reset Request' %}
{% endblock %}

{% block main_content %}
		<h1>
			{% trans 'Confirm Password Reset Request' %}
		</h1>

		<p>
			{% trans 'Confirm your password reset request.' %}
			{% trans 'Enter your email and your confirmation code to continue.' %}
		</p>
		{% crispy form form.helper %}
		<p>
			{% trans 'Go back to your app to change your password.' %}
		</p>
{% endblock %}

